
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/sobre.css">
    <link rel="stylesheet" href="../styles/inicio.css">
    <link rel="stylesheet" href="../styles/projetos.css">
    <link rel="stylesheet" href="../styles/skills.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Outfit:wght@200&display=swap&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/67fa80b427.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/scrollreveal"></script>  
<script async src="../scripts/script.js"></script>
<title>Meu Portfolio</title>
</head>