<header>
        <figure>
           <i id="menu-hamburg" class="fa-solid fa-bars"></i>
        </figure>
    <nav class="menu">
        <ul>
        <li><a href="../">INICIO</a></li>
        <li><a href="../sobre">SOBRE</a></li>
        <li><a href="../projetos">PROJETOS</a></li>
        <li><a href="../skills">SKILLS</a></li>
        <li><a href="../contato">CONTATO</a></li>
    </ul>
    </nav>
</header>