<section class="projetos">
    <div>
    <h2>Projetos</h2>
    <h3>Abaixo estão alguns dos meus projetos</h3></div>
    <div class="cards">
    <figure><img src="" alt=""></figure>
    <figure><img src="" alt=""></figure>
</div>
</section>