<nav class="icones-ap">
    <li><a href="https://www.linkedin.com/in/gustavominguta/" title="Linkedin" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a href="https://github.com/mIINguta" title="GitHub" target="_blank"><i class="fa-brands fa-github"></i></a></li>
    <li><a href="https://www.instagram.com/gustavominguta/" title="Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="mailto:gustavo.minguta@gmail.com?subject=Vi seu portfólio, gostaria de falar com você!&body=Olá Gustavo!"  title="Email" target="_blank"><i class="fa-solid fa-envelope"></i></i></a></li>

</nav>  