<nav class="icones-ap">
    <ul>
    <li><a href="https://www.linkedin.com/in/gustavominguta/" title="Linkedin" target="_blank"><i class="fa-brands fa-linkedin   lkd"></i></a></li>
    <li><a href="https://github.com/mIINguta" title="GitHub" target="_blank"><i class="fa-brands fa-github   gthb"></i></a></li>
    <li><a href="https://www.instagram.com/gustavominguta/" title="Instagram" target="_blank"><i class="fa-brands fa-instagram   inst"></i></a></li>
    <li><a href="mailto:gustavo.minguta@gmail.com?subject=Vi seu portfólio, gostaria de falar com você!&body=Olá Gustavo!"  title="Email" target="_blank"><i class="fa-solid fa-envelope    mail"></i></i></a></li>
</ul>
</nav>  