<html>
    <%-include ('../partials/head')-%>
    <body>
        <%-include ('../partials/header')-%>
        <main>
            <section class="sec-contatos  sec">
                <div>
                <h2>ENTRE EM CONTATO</h2>
                <%- include ('../partials/socialNav') -%>
            </div>
            </section>
        </main>
        <%-include ('../partials/footer')-%>
    </body>
</html>