<html>
    <%-include ('../partials/head')-%>
    <body>
        <%-include ('../partials/header')-%>
        <main>
            <section class="sec-skills  sec">
                <h2>EM CRIAÇÃO</h2>
            </section>

        </main>
        <%-include ('../partials/footer')-%>

    </body>
</html>