<!DOCTYPE html>
    <%- include('../partials/head')-%>
<body>
    <%- include('../partials/header') -%>
    <main>
            <main>
                <section class="apresentacao-apI  sec">
                    <div class="texto-ap-i">
                    <h1>Olá, me chamo <span>GUSTAVO MINGUTA</span></h1> 
                    <h3> Sou desenvolvedor Front-End.</h3>
                    <%- include ('../partials/socialNav') -%>
                    </div>
                    <figure class="eu-img  sec-img">
                        <img src="/imagens/eu.png" alt="Foto do Gustavo">
                    </figure>
                </section>
            </main>
    <%- include('../partials/footer') -%>
</body>
</html>