<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/head')-%>
    <%-include('../partials/header') -%>
<body>
    <main>
        <section class="sec-projetos  sec">
                <div class="cards">
                    <div class="item" title="MM Assessoria Contábil">
                        <figure><img src="/imagens/projetos/proj1.svg" alt=" Card Site MM Assessoria Contábil"></figure>
                    </div>
                    <div class="item" title="Meu Portfólio"> 
                        <figure>
                            <img src="/imagens/projetos/logo.svg" alt=" Card Gustavo Minguta Portfólio"></figure>
                        </div>
                    <div class="item" title="Projeto TCC - Regue-me"> 
                        <figure>
                         <img src="/imagens/projetos/proj2white.svg" alt=" Card Regue-me App"></figure> </div>
                </div>
                <div class="descricao-proj">
                    <h2 class="titleP"></h2>
                    <p class="descP"></p>
                </div>
                <div class="imagem-proj">
                    <figure class="fig-proj">
                        <img class="imgP" src="" alt="">
                    </figure>
                </div>
            <nav class="icons-proj">
                <ul>
                <li>
                    <a href="">
                    <i id="return-btn"  class="fa-solid fa-rotate-left" title="Voltar"></i>
                </a>
            </li>
                <li>
                    <a class="browser-btn" href="" target="_blank" title="Acesse"> <i id="browser-btn" class="fa-solid fa-square-arrow-up-right">
                    </i></a>
                </li>
                <li>
                    <a  class="github-btn" target="_blank" title="Repositório"><i class="fa-brands fa-github"></i>
                    </i></a>
                </li>
            </ul>
        </nav>
        </section>
    </main>
    <%- include('../partials/footer') -%>
</body>
</html>