<!DOCTYPE html>

    <%- include('../partials/head') -%>
<body>
    <%- include('../partials/header') -%>
    <main>
        <section class="apresentacao-apS  sec">
            <div class="texto-ap">
            <h1>Conheça um pouco sobre mim </h1>
            <h3> Técnico em Informática e Formado em Sistemas de Informação pela Unigranrio</h3>
            <p>Sou apaixonado por aprender coisas novas e amo a sensação de estar criando ou sendo a solução de um problema, gosto de trabalhar em equipe e ajudar na evolução de um colega. Sou comunicativo, dedicado, atencioso, autocrítico e esforçado. Caso eu não saiba o que fazer, pedirei ajuda e farei meu máximo para aprender o mais rápido possível e da melhor forma possível.
            Sou cristão mas não deixo que minha religião atrapalhe no convívio com outras pessoas, respeito a todos que me respeitam. Meu objetivo é trabalhar na área de desenvolvimento web, sendo um excelente profissional buscando minha liberdade financeira e geográfica.
            </p>
            </div>
            <figure class="code-img  sec-img">
                <img src="/imagens/code.jpg" alt="foto de código">
            </figure> 
        </section>
    </main>
    <%- include('../partials/footer') -%> 
    <script src="../scripts/script.js"></script>
</body>
</html>